@import "./variables";
@import "~@alchemist-editor/core/src/styles/helpers";

@mixin tree-node($color, $tag) {
  @include auto-gradient($color);
  &:before { content: $tag; }
  margin-right: 1em;
  color: white;
  width: 2.5em;
  font-weight: bold;
}

#project-tree
{
  span[node-type="ecsrx-component"] {
    @include tree-node($component-node-color, 'C');
  }

  span[node-type="ecsrx-convention-system"]
  {
    @include tree-node($conventional-system-node-color, 'S');
  }

  span[node-type="ecsrx-event"]
  {
    @include tree-node($event-node-color, 'E');
  }

  span[node-type="ecsrx-group"]
  {
    @include tree-node($group-node-color, 'G');
  }

  span[node-type="ecsrx-manual-system"]
  {
    @include tree-node($manual-system-node-color, 'S');
  }

  span[node-type="ecsrx-model"]
  {
    @include tree-node($model-node-color, 'M');
  }
}