// Node colors
$component-node-color: #e74c3c;
$conventional-system-node-color: #f1c40f;
$manual-system-node-color: #e67e22;
$event-node-color: #2980B9;
$model-node-color: #3498db;
$group-node-color: #2ecc71;